@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce {
  animation: bounce 0.5s infinite;
}

.delay-1 {
  animation-delay: 0ms;
}

.delay-2 {
  animation-delay: 100ms;
}

.delay-3 {
  animation-delay: 200ms;
}